:root {
    --bg-page: #f8f9fa;

}

* {
}

body {
    background-color: var(--bg-page);
    
    display: flex;
    justify-content: center;
}

#container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#list-input {
    margin: 10px;
    padding: 8px;

    /* Border */
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
}

#add-item-button {
    border: none;
    background: transparent;
    padding: 10px;
    width: 100%;
}

#add-item-button:hover {
    cursor: pointer;
}

#complete-toggle-button {
    border: none;
    background: transparent;
    color: #8d8b8b;
}

#complete-toggle-button:hover {
    cursor: pointer;
    color:#000000;
}


.list {
    border-top: 1px solid #d3d3d3;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.clickable {
    cursor: text;
}

th, td {
    padding: 5px 8px;
}

